.large-text{
	width:99%;
}
.regular-text{
	width:25em;
}
#wp_juanpay_dpn span.help {
	display:inline-block;
	background:url('help.png') no-repeat;
	width:12px;
	height:13px;
	border:none;
	text-indent:100%;
	overflow:hidden;
}
#wp_juanpay_dpn span.help:hover {
	background-position:0 -13px;
	cursor:pointer;
}
